.cafe-image {
  border-radius: 3px;
  padding: 7px;
}

.img-thumbnail.shop-thumbnail {
  padding: 0;
}

.cover-box {
  border-style: solid;
  border-width: 2px;
  border-color: #999;
  border-radius: 3px;
  margin-bottom: 5px;
  padding: 0;
}

/* iPhone 5 (portrait)----------- */
@media only screen
  and (min-device-width: 320px)
  and (max-device-height: 568px)
  and (orientation: portrait) {
  .cafe-image {
    position: relative;
    float: left;
    width: 285px;
    height: 210px;
  }

  .shop-thumbnail {
    width: 285px;
    height: 210px;
    margin-bottom: -5px;
  }

  .shop-name-info {
    font-size: 15px;
    padding: 0;
    margin-bottom: 5px;
    font-weight: bold;
    padding-left: 8px;
  }

  .pagination-box {
    padding-left: 27%;
  }

  .pagination {
    font-size: 15px;
  }
}

/* iPhone 6 (portrait)----------- */
@media only screen
  and (min-device-width: 375px)
  and (max-device-height: 667px)
  and (orientation: portrait) {
  .cafe-image {
    position: relative;
    float: left;
    width: 340px;
    height: 265px;
  }

  .shop-thumbnail {
    width: 340px;
    height: 265px;
    margin-bottom: -5px;
  }

  .shop-name-info {
    font-size: 15px;
    padding: 0;
    margin-bottom: 5px;
    font-weight: bold;
    padding-left: 8px;
  }

  .pagination-box {
    padding-left: 30%;
  }

  .pagination {
    font-size: 15px;
  }
}

/* iPhone 6+ (portrait) ----------- */
@media only screen
  and (min-device-width: 414px)
  and (max-device-height: 736px)
  and (orientation: portrait) {
  .cafe-image {
    position: relative;
    float: left;
    width: 380px;
    height: 280px;
  }

  .shop-thumbnail {
    width: 380px;
    height: 280px;
    margin-bottom: -5px;
  }

  .shop-name-info {
    font-size: 18px;
    padding: 0;
    margin-bottom: 5px;
    font-weight: bold;
    padding-left: 8px;
  }

  .pagination-box {
    padding-left: 28%;
  }

  .pagination {
    font-size: 18px;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px) {
  .cafe-image {
    position: relative;
    float: left;
    width: 340px;
    height: 250px;
  }

  .shop-thumbnail {
    width: 340px;
    height: 250px;
    margin-bottom: -5px;
  }

  .shop-name-info {
    font-size: 22px;
    padding: 0;
    margin-bottom: 5px;
    font-weight: bold;
    padding-left: 8px;
  }

  .pagination-box {
    padding-left: 40%;
  }

  .pagination {
    font-size: 20px;
  }

  .cover-box {
    margin-left: 10px;
  }

  .col-md-6 {
    width: 48%;
  }
}

/* Desktops and laptops ----------- */
@media only screen
  and (min-width: 1224px) {
  .cafe-image {
    position: relative;
    float: left;
    width: 530px;
    height: 410px;
  }

  .shop-thumbnail {
    width: 53  0;
    height: 410px;
    margin-bottom: -5px;
  }

  .shop-name-info {
    font-size: 22px;
    padding: 0;
    margin-bottom: 5px;
    padding-left: 8px;
    font-weight: bold;
  }

  .pagination-box {
    padding-left: 43%;
  }

  .pagination {
    font-size: 20px;
  }

  .cover-box {
    margin-left: 10px;
  }

  .col-md-6 {
    width: 48%;
  }
}

/* Samsung Galaxy S5 ----------- */
@media only screen
  and (min-device-width: 360px)
  and (max-device-height: 640px)
  and (orientation: portrait) {
  .cafe-image {
    position: relative;
    float: left;
    width: 325px;
    height: 220px;
  }

  .shop-thumbnail {
    width: 325px;
    height: 220px;
    margin-bottom: -5px;
  }

  .shop-name-info {
    font-size: 16px;
    padding: 0;
    margin-bottom: 5px;
    font-weight: bold;
    padding-left: 8px;
  }

  .pagination-box {
    padding-left: 28%;
  }

  .pagination {
    font-size: 16px;
  }
}
