.overlay {
  padding: 20px;
  position: relative;
  height: 100%;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.125s ease;

  .shop_adress {
    font-size: 22px;
    font-weight: 200;
    opacity: 0;
    transition: opacity 0.25s ease;
  }

  .shop_price {
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.25s ease 0.125s;
  }

  .shop_hours {
    font-size: 14px;
    display: -webkit-box;
    margin-top: 100px;
    font-weight: 300;
    line-height: 1.6;
    opacity: 0;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: margin 0.25s ease 0.125s, opacity 0.25s ease 0.25s;
  }
}
