.img {
  position: relative;
  z-index: 101;

  &:hover {
    z-index: 99;
    background-color: black;
    opacity: 0;
  }
}

.shop_basic_info {
  position: absolute;
  color: black;
  top: 100px;
  left: 19px;
  width: 520px;
  height: 320px;
  text-align: center;
  z-index: 100;

  &:hover {
    color: black;
  }
}
